%grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24%, 1fr));

  @media (max-width: 600px) {
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  }
}

.display-file {
  .pages {
    // @extend %grid;
    max-height: 100vh;
    overflow: auto;
    padding: 10px;
    @include extend("position-relative");

    &.scale-1_0 .page {
      transform: scale(1.0);
    }

    &.scale-0_9 .page {
      transform: scale(0.9);
    }

    &.scale-0_8 .page {
      transform: scale(0.8);
    }

    &.scale-0_7 .page {
      transform: scale(0.7);
    }

    &.scale-0_6 .page {
      transform: scale(0.6);
    }

    &.scale-0_5 .page {
      transform: scale(0.5);
    }

    .page {
      transform-origin: center top;
      transition: transform 0.3s ease-in-out;

      >canvas {
        border: 1px solid #dee2e6;
      }

      .canvas-container {

        &,
        .fabric-canvas {
          @include extend("position-absolute w-100 h-100");
          top: 0;
          left: 0;
        }
      }
    }
  }

  .page-navigator-wrapper {
    position: fixed;
    width: 69%;

    @include xs {
      width: 100%;
    }

    bottom: 1%;
    left: 0;
    z-index: 800;
    @include extend("d-flex justify-content-center");

    .page-navigator {
      @include extend("d-flex justify-content-between align-items-center");
      flex: 0 1 50%;
      padding: 10px;
      background-color: #f8f9fa; // Background color similar to Bootstrap's default

      .nav-button {
        @include extend("btn btn-secondary");
        // &-prev {
        //   // Additional styling for the previous button, if needed
        // }

        // &-next {
        //   // Additional styling for the next button, if needed
        // }
      }

      .page-info {
        @include extend("d-flex align-items-center");

        .page-number {
          width: 60px;
          text-align: center;
          margin: 0 10px;
          @include extend("form-control");
        }

        .separator {
          margin: 0 10px;
        }

        .fit-options {
          @include extend("d-flex");

          .fit-button {
            @include extend("btn btn-light");
            margin: 0 5px;
          }
        }
      }

      .zoom-button {
        @include extend("btn btn-light");
        margin: 0 5px;
      }
    }
  }


  .initial-loader {
    height: 100vh;
    width: 100%;
    @include extend("d-flex justify-content-center align-items-center");
  }

  .drag-element {

    .image-tooltip,
    .item-tooltip {
      height: 100%;
    }

    .drag-element-img {
      cursor: all-scroll !important;
      height: 100%;
    }


    display: flex;
    flex-direction: column;

    &.dragging {
      scale: 1.05 !important;
    }

    p {
      margin: 0;
    }

    @extend %show-action;
  }

  .tooltip-container {
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
  }

  %show-action {
    position: relative;

    .action-div {
      position: absolute;
      top: 1%;
      left: 50%;
      transform: translateX(-50%);
      width: 98%;

      button {
        color: var(--gray-dark);
      }
    }

    &:hover .action-div {
      opacity: 1;
    }

    &:not(:hover) .action-div {
      opacity: 0;
    }
  }

  .card.item {
    height: 100%;
    @extend %show-action;
  }

  .hero-icon {
    display: inline-block;
    width: 1.3em;
    height: 1.3em;
  }

  .range-file-card {
    &:not(.one-item-grid) {
      display: grid;
      grid-template-columns: 2fr 0.5fr 2fr;
    }

    &.one-item-grid {
      display: flex;
      align-items: center;
      justify-content: center;

      .only-child {
        flex: 0 1 78%;
      }
    }

    .icon {
      align-self: center;
      justify-self: center;
      fill: map-get($color-map, split-pdf);
      width: 2em;
      height: 2em;
    }

    .only-child {
      grid-column: 1 / -1;
      justify-self: center;
    }
  }

  .extract-file-card {
    @include extend("position-absolute w-100 h-100");

    .icon {
      @include extend("check-icon");
    }
  }
}