@import "pdfequips-navbar/scss/navbar";
@import "~cssmolecule";
@import "~custom-bs";
@import "~flex-system/index";
@include flex-system;

.wrapper {
  .input {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  &:not(.no-outline) {
    border-color: #341f97 !important;
  }

  &.no-outline {
    &:hover {
      border-color: #341f97 !important;

      .resize-handle {
        opacity: 1;
      }
    }
  }

  .icon {
    @include extend("w-100 h-100")
  }

  .signature-svg {

    &,
    svg {
      @include extend("position-absolute w-100 h-100");
      display: block;
      top: 0;
      left: 0;
    }

    svg {
      #react-sketch-canvas__canvas-background {
        fill: transparent !important;
      }
    }
  }

  .resize-handle {
    background-color: #341f97 !important
  }
}

%debug {
  outline: 1px solid;
}

@import "./scss/minxins";
@import "./scss/placeholders";

$pdf-color: #fc271c;
$color-map: (
  "merge-pdf": $pdf-color,
  "split-pdf": #fd7e14,
  "compress-pdf": #28a745,
  "pdf-to-powerpoint": #c13b1b,
  "jpg-to-pdf": #f1c40f,
  "word-to-pdf": #1b5ebe,
  "powerpoint-to-pdf": #c13b1b,
  "excel-to-pdf": #10793f,
  "web-to-pdf": #0984e3,
  "pdf-to-text": #4493e1,
  "html-to-pdf": rgb(228, 77, 38),
  "pdf-to-jpg": #f1c40f,
  "pdf-to-word": #1b5ebe,
  "pdf-to-excel": #10793f,
  "pdf-to-pdf-a": #000000,
  "pdf-to-html": rgb(228, 77, 38),
  "pdf-to-markdown": #000000,
  "translate-pdf": #185abc,
  "sign-pdf": #341f97
);

$main-color: #341f97;

html {
  scroll-behavior: smooth;
}

body {
  @include ar-wrapper {
    text-align: right !important;
  }

  font-family: "Raleway",
  sans-serif;
}

// Define primary color
$primary-color: #341f97;

// Scrollbar styles
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 1em;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, $primary-color);
  border-radius: 1em;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(darken(transparent, 10%), $primary-color);
}

// Optional: for the vertical scrollbar
::-webkit-scrollbar-button {
  display: none;
}

.tools-page {
  min-height: fit-content;
}

.h-5,
.icon {
  height: 1em;
}

.w-5,
.icon {
  width: 1em;
}

.object-fit-cover {
  object-fit: cover;
  object-position: center;
}

.object-fit-contain {
  object-fit: contain;
  object-position: center;
}

.img-fluid-custom {
  max-width: 100%;
  height: 100%;
}

.bdi,
a.dropdown-item {
  unicode-bidi: isolate;
}

@media (min-width: 992px) {
  .drop-down-container {
    flex-wrap: nowrap !important;
  }
}

/* tools page */

.tools {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 69vh;
}

.dropdown-item {

  &.active,
  &:active {
    background-color: initial !important;
    color: #212529 !important;
  }
}

.react-tooltip {
  z-index: 100;
}

// error element styles
.error-element {
  .hide-on-rtl {

    [dir="rtl"] &,
    [lang="ar"] & {
      display: none;
    }
  }

  .hide-on-rtl {

    [dir="ltr"] &,
    :not([lang="ar"]) & {
      display: none;
    }
  }
}

@import "./scss/toolspage";
@import "./scss/editpage";
@import "./scss/display-file";
@import "./scss/settings-modal";

footer {
  .copyright-row {
    @include xs {
      margin-bottom: 1em;
      justify-content: space-between;

      .copyright-text,
      .lang-dropdown {
        flex: 0 1 49%;
      }

      .copyright-text {
        :not(:lang(ar)) & {
          text-align: right;
        }
      }
    }
  }

  .terms-row {
    @include xs {
      justify-content: space-between !important;
    }
  }
}

.hide {
  @include extend("d-none")
}


.overlay {
  position: absolute;
  inset: 0px;
  background-color: rgb(0 0 0 / 80%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  z-index: 1;
  color: white;
  border: 3px dashed;
  width: 100%;
  height: 100vh;
}


.cedarville-cursive-regular {
  font-family: "Cedarville Cursive", cursive !important;
  font-weight: 400;
  font-style: normal;
}

.arizonia-regular {
  font-family: "Arizonia", cursive !important;
  font-weight: 400;
  font-style: normal;
}

.lobster-regular {
  font-family: "Lobster", sans-serif !important;
  font-weight: 400;
  font-style: normal;
}


.rouge-script-regular {
  font-family: "Rouge Script", cursive !important;
  font-weight: 400;
  font-style: normal;
}

.alex-brush-regular {
  font-family: "Alex Brush", cursive !important;
  font-weight: 400;
  font-style: normal;
}

.sacramento-regular {
  font-family: "Sacramento", cursive !important;
  font-weight: 400;
  font-style: normal;
}


.main-btn {
  @include extend("btn text-white");

  &.lg {
    @include extend("btn-lg");
  }

  $main-color: map-get($color-map, "sign-pdf");
  $main-darken: darken(map-get($color-map, "sign-pdf"), 5);

  &:not(&-outlined):not(:disabled) {
    background-color: $main-color !important;

    &:hover,
    &:active {
      background-color: $main-darken !important;
    }

    &:active {
      scale: .99;
    }
  }

  &-outlined:not(:disabled) {
    @include extend("bg-white");
    border: 1px solid $main-color !important;
    color: $main-color !important;

    &:hover,
    &:active {
      background-color: lighten($main-color, 10) !important;
      @include extend("text-white");
    }
  }

  &:disabled {
    background-color: #636e72 !important;
    pointer-events: auto !important;
    cursor: not-allowed !important;
  }
}

.clear {
  opacity: 0
}

@import "./scss/style-tools";

.resizable {
  @include extend("position-absolute");
  border: 1.5px solid map-get($color-map, "sign-pdf");

  .input {
    @include extend("w-100 h-100");
  }
}

.handle {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: white;
  border: 2px solid map-get($color-map, "sign-pdf");
}

.top-left {
  top: -5px;
  left: -5px;
  cursor: nwse-resize;
}

.top-right {
  top: -5px;
  right: -5px;
  cursor: nesw-resize;
}

.bottom-left {
  bottom: -5px;
  left: -5px;
  cursor: nesw-resize;
}

.bottom-right {
  bottom: -5px;
  right: -5px;
  cursor: nwse-resize;
}

.responsive-image {
  max-width: 100%;
  height: auto;
}

.no-drag {
  -webkit-user-drag: none
}

.sig-img {
  width: 32px;
  height: 32px;
  object-fit: cover
}

.w-100 {
  @include extend("w-100");
}

.h-100 {
  @include extend("h-100");
}

.whiteout {
  background-color: white;
  @include extend("position-absolute w-100 h-100");
  z-index: 1;
  left: 0;
  top: 0;
}

@import "i-text-input/src/scss/_input.scss";